<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css"> 

    <title>Display Results</title>
</head>

<body>
    <h1> Postage Total </h1> 
    <div class="result">
        
        <p> A <%= options %> piece of mail that weighs <%= weight %> oz will cost $<%= total %> </p>
    </div>
</body>

</html>