body{ 
  max-width: 400px; 
  margin: 0 auto; 
}
#form { 
  max-width: 300px; 
  border: 5px double red; 
  color: navy;  
}

#submit { 
  margin-top: 10px; 
}

input, select { 
  margin: 10px 0; 
}

.result{ 
  background: white; 
  border: 5px double navy; 
}

p{ 
  margin: 30px 10px ; 
}